
/* SASS STUFF
---------------------------------------*/
@import 'normalize';

$color_bg_gradient_top: #ececee;
$color_bg_gradient_bottom: #e8dbd5;
$color_nav_font: #666666;
$color_nav_font_active: #ee7dc5;
$color_title: #b949a4;
$color_subtext: #ee7dc5;
$color_subtitle: #5d5d5d;
$color_welcome: #7dcaee;
$color_separator: #cccccc;
$font_1: 'Montserrat', sans-serif;
$font_2: 'Arial', sans-serif;

/* GENERIC
---------------------------------------*/
// Nicolas Gallagher Clearfix
.cf:before,.cf:after {content: " ";display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}

*, *:before, *:after {box-sizing: border-box;}

/* CONTENT
---------------------------------------*/
body{font-family:$font_2;font-size: 16px;background:#e8dbd5; background: linear-gradient(to bottom, $color_bg_gradient_top, $color_bg_gradient_bottom)}
.page{width:978px;margin:auto;padding:45px 55px 30px 20px;background:white}

.nav{font-family:$font_1; border-bottom:2px solid $color_separator;margin:0 0 30px 35px;padding-bottom:30px}
.nav ul{list-style:none;padding:0;margin:0}
.nav li{display:inline-block;vertical-align:bottom}
.nav a{text-decoration:none;color:$color_nav_font}
.nav a:hover,
.nav a.active{color:$color_nav_font_active}
.nav_main{float:left;font-size:20px}
.nav_main li{margin-right:40px}
.nav_side{float:right;font-size:14px}
.nav_side li{margin-left:20px}

.left{width:220px;float:left;}
.left .left_logo{}

.main{width: 659px;float:right;padding-bottom:100px;border-bottom:2px dashed $color_separator;}
.main .title{font-family:$font_1;color:$color_title;font-weight: normal;font-size: 45px;margin:12px 0 40px}
.main .header{height: 371px;background: url(images/header_bg.jpg);position: relative;margin-bottom: 40px;}
.main .subtitle_wrapper{font-family:$font_1;background:white;position: absolute;bottom:30px;left:0;height: 102px;padding:14px 14px 0}
.main .subtext{color:$color_subtext;font-size: 11px}
.main .subtitle{color:$color_subtitle;font-weight: normal;font-size: 32px;margin:0;line-height: 28px;}
.main .arrow{height: 102px;width: 102px;background: url(images/header_arrow.png);position: absolute;top: 0;right: -102px;}
.main .welcome{font-family:$font_1;color:$color_welcome;font-size: 21px}
.main p{}
.main .content_img{float:right}
.main .signature{}
